# local package
-e .

# external requirements
pandas>=0.24.1
scikit-learn>=0.20.3
scikit-optimize
lightgbm>=2.2.3
xgboost>=0.81
matplotlib
jupyter
jupyter_contrib_nbextensions
jupytext
pyodbc
kaggle
argparse
ipykernel
pytest
pylint
black
pandas-profiling